.sidenav__button { background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
  padding: 0.9rem 1rem;}
.sidenav__button:hover { background-color: #FFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0px rgba(0,0,0,0);
}  

  .sidenav__button i {
    font-size: 2.3rem;
    color:#000;
  }

.linha__navbar {
  height: 56px;
  box-shadow: none;
  
  background-color: white;
}

.slider .slides li img {  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}
  .slider { height: 60vh!important;}
  .slides { height: 50vh!important;}
  
  .titulo__evento h5 { padding-left: 5px; padding-top:20px; padding-bottom: 20px; border-left-width: 5px ;border-left-color: rgb(255, 59, 45); border-left-style: solid;}
  
  .collection .collection-item {list-style: none;}

  .text__limao { color: #4CC343};
  .bg__limao {background-color: #4CC343;}

  

  /* ESTILO DA TABELA DE PRECOS*/

  * {
    box-sizing: border-box;
  }
  
  /* Create three columns of equal width */
  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  /* Style the list */
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Add shadows on hover */
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  /* Pricing header */
  .price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
  }
  
  /* List items */
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
  }
  
  /* Grey list item */
  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  /* The "Sign Up" button */
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Change the width of the three columns to 100% 
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }

 
  .programacao__dia,  .programacao__mes  {font-size: 1.5rem;}
  .programacao__mes { color:#dd2c00;border-right-color: #bdbdbd ; border-right-style: solid; border-right-width: 3px; }
  
.header { font-weight: 300; color: #32aa24;}
.marca { padding-top: 1.3rem;}
h5 {
  font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
}

h6 {
  text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.parallax-container {
    min-height: 200px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.marg0 { margin-bottom: 0;}

.rodape { background-color: white!important; color: #000;}